.asideButton {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: .8rem 0;
    transition: .5s ease-in-out;
}

.asideButton:hover {
    background-color: #373F41;
    border-radius: 5px;
}

.asideButton svg {
    color: #373F41;
    margin: 0 2rem;
}

.asideButton:hover svg {
    color: #FFFFFF;
}

.asideButton p {
    color: #373F41;
}

.asideButton:hover p {
    color: #FFFFFF;
}

@media (max-width: 1080px) {
    .asideButton svg{
        margin: auto;
    }

    .asideButton p {
        display: none;
    }
}