.asideButton {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: .8rem 0;
}

.asideButton:hover {
    background-color: #f3f3f3;
}

.asideButton svg {
    color: black;
    margin: 0 2rem;
}

.asideButton p {
    color: black;
}