aside {
    width: 15%;
    height: 100vh;
    background-color: white;
}

#menuContainer {
    width: 90%;
    height: 100%;
    margin: auto;
    position: relative;
}

#logoArea {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    padding: 10% 0;
}

#logoArea #logoIcon {
    margin: 0 1.2rem;
    width: 60px;
    color: #373F41;
}

#logoArea #companyName {
    color: #373F41;
}

#menuArea {
    width: 100%;
    border-bottom: 1px solid #DBDDE0;
    padding-bottom: 10%;
}

#configsArea {
    width: 100%;
    height: 30%;
    padding-top: 10%;
}

#accountArea {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
}

@media (max-width: 1080px) {
    aside {
        width: 8%;
    }

    #menuContainer {
        width: 70%;
    }

    #logoArea #logoIcon {
       width: 60px;
    }

    #logoArea #companyName {
        display: none;
    }
}